.dashboard{
    & .header{
        & .first-header{
            display: flex;
            justify-content: center;

            & .first-header-content{
                max-width: 1200px;
                display: flex;
                justify-content: space-between;
                width: 100%;
            }

            & .log-out:hover{
                cursor: pointer;
            }
        }
        & .second-header{
            height: 100px;
            display: flex;
            flex-direction: column;
            border-bottom: 0.5px solid #f44336;

            & .second-header-balance{
                display: flex;
                align-items: center;

                & span{
                    margin-right: 10px;
                }
                & button{
                    font-size: 1.5rem;
                }
            }
        }
    }
    & .table-container{
        display: flex;
        justify-content: center;

        & app-table{
            width: 100%;
        }
    }
}

.need-login{
    height: 100%;
    background-color: #f5f5f5;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;

    & .neeg-login-text{
        font-size: 2rem;
    }

    & .button-container{
        display: flex;

        & button {
            margin: 20px 15px;
        }
    }
}