<div class="dashboard">
    <div class="header">
        <mat-toolbar color="warn" class="first-header">
          <span>Santander <i class="stars material-symbols-outlined white-text">wallet</i> </span>
      
          <span>Cerrar sesión</span>
        </mat-toolbar>
        <mat-toolbar class="second-header">
            <span name="userName">Hola <b>{{ user.user_name }}</b></span>
            <div class="second-header-balance">
                <span name="userBalance">tu balance actual es: <b> {{ user.user_balance }}</b>€ </span>
                <button mat-fab color="warn" >+</button>
            </div> 
        </mat-toolbar>
      </div>
      <div class="table-container">
        <app-table></app-table>
      </div>
</div>

