<div *ngIf="action == 'buy'">
  <h2 mat-dialog-title>Add {{ crypto.crypto_name }} into your wallet</h2>
  <mat-dialog-content class="mat-typography">
    <h3 *ngIf="userAlreadyHasCrypto">
      your actual balance: {{ userCrypto.w_crypto_amount }}
    </h3>
    <h3 *ngIf="userAlreadyHasCrypto == false">your actual balance: 0</h3>
    <p>Insert how many {{ crypto.crypto_name }} you wanna add to yout account</p>
    <small>the minimun is 0.005</small>
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <form [formGroup]="addCryptoForm">
      <mat-form-field appearance="outline">
        <mat-label>Enter {{ crypto.crypto_name }} amount</mat-label>
        <input type="number" name="crypto" min="0.005" formControlName="crypto" matInput #cryptoinput (keyup)="getTotalPrice(cryptoinput.value)"/>
        <mat-hint align="end" class="text-regular-xs">Total price in euros: {{ totalPriceHint }}</mat-hint>
      </mat-form-field>

      <div class="buttons">
        <button mat-raised-button color="warn" (click)="buyCrypto()" [mat-dialog-close]="true">
          Buy
        </button>
        <button mat-raised-button color="warn" mat-dialog-close>Cancel</button>

      </div>
      
    </form>
  </mat-dialog-actions>
</div>

<div *ngIf="action == 'sell'">
  <h2 mat-dialog-title>Sell {{ crypto.crypto_name }} from your wallet</h2>
  <mat-dialog-content class="mat-typography">
    <h3 *ngIf="userAlreadyHasCrypto">
      your actual balance: {{ userCrypto.w_crypto_amount }}
    </h3>
    <p>Insert how many {{ crypto.crypto_name }} you wanna sell</p>
    <small>the minimun is 0.005</small>
  </mat-dialog-content>

  <mat-dialog-actions align="end">
    <form [formGroup]="takeCryptoForm">
      <mat-form-field appearance="outline">
        <mat-label>Enter {{ crypto.crypto_name }} amount</mat-label>
        <input type="number" name="crypto" min="0.005" formControlName="crypto" matInput #cryptoinput (keyup)="getTotalPrice(cryptoinput.value)"/>
        <mat-hint align="end" class="text-regular-xs">Total price in euros: {{ totalPriceHint }}</mat-hint>
      </mat-form-field>

      <div class="buttons">
        <button
        mat-raised-button
        color="warn"
        (click)="sellCrypto()"
        [mat-dialog-close]="true"
      >
        Sell
      </button>
      <button mat-raised-button color="warn" mat-dialog-close>Cancel</button>
      </div>
      
    </form>
  </mat-dialog-actions>
</div>
