<h2 mat-dialog-title>Add {{crypto.crypto_name}} into your wallet</h2>
<mat-dialog-content class="mat-typography">
    <h3 *ngIf="userAlreadyHasCrypto" >your actual balance: {{userCrypto.w_crypto_amount}}</h3>
    <h3 *ngIf="userAlreadyHasCrypto ==false" >your actual balance: 0</h3>
    <p>Write how many {{crypto.crypto_name}} you wanna add to yout account</p>
    <small>the minimun is 0.005</small>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <form [formGroup]="addCryptoForm">

        <mat-form-field appearance="outline">
            <mat-label>Enter {{crypto.crypto_name}} amount</mat-label>
            <input matInput  type="number" name="crypto" min="0.005" formControlName="crypto">
        </mat-form-field>

        <button mat-raised-button color="warn"  (click)="buyCrypto()" [mat-dialog-close]="true">Entrar</button>
        <button mat-raised-button color="warn" mat-dialog-close>Cancel</button>
  
    
        </form>
  
</mat-dialog-actions>