
html, body { height: 100%;
    background-color: #f5f5f5; }
body, span, p, input.mat-input-element, .mat-error, td, th, h2, h3, small{ 
    margin: 0; 
    font-family: 'Nunito', sans-serif !important;
    
}

.mat-simple-snackbar-action{
    color: #f44336;
}



