.login-page{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    & .login-container{

        & .login-title{
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        & .login-form-container{
            display: flex;
            flex-direction: column;
            align-items: center;
            & form{
                display: flex;
                flex-direction: column;
                align-items: center;
            }

            & a{
                margin-top: 20px;
            }
        }
    }
}